* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "open Sans", sans-serif;
}

body {
    background-color: rgb(20, 19, 19);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transform: 0.8s;
}

h1 {
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 1.5%;
    color: #fff
}

input {
    padding: 25px;
    color: rgb(47, 51, 50);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.result {
    width: 59.1%;
}

.container {
    width: 370px;
}

.margin-row {
    margin-bottom: 3px;
}

input[type="text"] {
    background-color: rgb(255, 255, 255);
}

input[type="button"]:hover {
    background-color: rgb(160, 160, 160);
    color: #fff;
}

.clear {
    background-color: rgb(255, 42, 42);
    color: #fff;
}

button {
    border: none;
    background-color: rgb(39, 36, 36);
    padding: 10px;
    color: #fff;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}