@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  background-color: lightgrey;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  padding: 1rem 0;
  background-color: #222;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  color: #eee;
}

h3 {
  font-size: 1.6rem;
  text-align: center;
}

#img-div {
  position: relative;
  width: 100%;
  background-color: white;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.image-wrapper {
  position: relative;
  height: fit-content;
}

.tint {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 50%, 
    rgba(0,0,0,1) 100%
  );
}

.img-caption {
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: 0 auto;
}

figcaption {
  padding: .5rem 2rem;
  font-size: .9rem;
}

#borlaug-timeline {
  background-color: #eee;
  padding: 2rem 3rem;
}

ul {
  margin: 0;
  padding: 20px;
}

ul li {
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 25px;
}

footer {
  width: 100%;
  padding: 0 0 2rem;
  background-color: #eee;
}

blockquote {
  font-weight: 300;
  width: 100%;
  padding: 1rem 2rem 2rem;
  margin: 0;
  background-color: #273f0e;
  color: #eee;
}

.final {
  font-weight: 400;
  text-align: center;
  padding: 0 2rem;
  margin: 2rem 0;
}

@media (min-width: 100px) and (max-width: 1000px) {
  
  #borlaug-timeline {
    background-color: #222;
    color: #ccc;
    padding: 2rem;
  }
  
  li::marker {
    color: #b1be35;
  }
  
  strong {
    color: #b1be35;
  }
  
  .img-caption {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  ul li {
    font-weight: 300;
    margin-bottom: 30px;
  }
  
}

